
:root{
    background-color: black;
}
.NEvana {
    font-family: 'Montserrat', regular;
    font-size: 50px;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}